#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.logg {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  border: 10px solid #1a1a1a;
}
table thead tr th,
table tbody tr td {
  background-color: #1a1a1a;
  min-width: 55px;
}

.form-styled div {
  display: flex;
  justify-content: flex-end;
}

.overview {
  padding: 10px;
  border-radius: 50px;
  border: #1a1a1a solid 1px;
  margin-bottom: 20px;
}
